*{
    margin: 0;
    padding: 0;
}

.main{
    background-blend-mode: darken;
    width: 100%;
    background-position:center;
    background-size: cover;
    height: 100vh;
    animation: slideshow 9s infinite;
    
  
}
@keyframes slideshow {
    5% { background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url('../images/blood.jpg'); }
    33.33% { background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('../images/up.jpg'); }
    66.66% { background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('../images/tr.jpg'); }
    100% { background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('../images/blood.jpg'); } 
  }
  

.navbar{
    width: 100%;
    height: 60px;
    margin: auto;
    background-color:#080808;
    
   
}


.menu ul img{
    margin-left: 20px;
    width: 300px;
    height: 25px;
    margin-top: 10px;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 80px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #080808;
    margin-left: 130px;
    
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    background-color:#080808;
    padding-left: 35px;
    border-radius: 10px;

    width: 150px;
    height: 25px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
   

   
}
ul li a:hover{
    background-color: #ff7200;
    
}
.search{
    width: 330px;
    float: left;
    margin-left: 400px;
}
.content{
    float: left;
    width: 1200px;
    height: auto;
    margin-top: 40px;
    color: #fff;
    position: relative;
    margin-left: 50px;
    
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top:20px;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #016dcb;
    border:none ;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 4s ease;
    
}
.content a{
    text-decoration: none;
    color: white;
    transition: 3s ease;
    font-weight: bold;
}
.content .cn:hover{
    background-color:#ff7200;
    
}
.content span{
    color: #ff7200;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 235px;
    background-color: #fffefe;
    position: absolute;
    top: 0.1px;
    left: 950px;
    border-radius: 15px;
    padding: 25px;
    padding-top: 5px;
    opacity: 0.9;

}

.btnn{
    width: 240px;
    height: 40px;
    background: #016dcb;
    border: none;
    margin-top: 1px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    
    transition: 0.4s ease;
    margin-bottom: 40px;
}
.btnn:hover{
    background: #ff7200;
    font-weight: bold;
}
.btnn a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.bttnn{
    width: 240px;
    height: 40px;
    background: #016dcb;
    border: none;
    margin-top: 1px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease; 


}
.bttnn:hover{
    background: #ff7200;
    font-weight: bold;
}
.bttnn a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.form .link{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 17px;
    padding-top: 5px;
    text-align: center;
    color: #080808;
    font-weight: bold;
}

.liw{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    padding-top: 17px;
    padding-bottom: 3px;
    text-align: center;
    color: #080808;
    font-weight: bold;
    font-size: 17px;
}
.icon a{
    text-decoration: none;
    color: #fff;
   
   
    
}
.icon ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 20px;
    transition: 0.4s ease;

    
    
   
}
 .icon ion-icon:hover{
    color: #ff7200;
}
.bot{
    width: 1200px;
    height: 100px;
    margin: auto;
    color: #fff;
   position: relative;
   
   
}
.bot1{
    font-family: 'Times New Roman';
    font-size: 30px;
    text-align: left;
    padding-left: 250px;
    letter-spacing: 2px;
    line-height:80px;
    font-weight: bold;
  
}
.bot2{
    padding-left: 300px;
    font-size: 18px;
    
}
.bot3{
    width: 160px;
    height: 40px;
    background: #016dcb;
    border:none ;
    margin-bottom: 10px;
    margin-left: 460px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s ease;
   
}
.bot3 a{
    text-decoration: none;
    color: rgb(250, 248, 248);
    transition: 2s ease;
    font-weight: bold;
}
.bot3:hover{
    background-color:#ff7200;
    color: #080808;
    font-weight: bold;
    
    
}

